$enable-dark-mode: true;
$color-mode-type: data;

@import "@bootstrap/scss/bootstrap.scss";

$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";

//$darkmode-text-color: #D4D4D4;
//$darkmode-bg-color: #2B2A32;

//$lightmode-text-color: #212529;
//$lightmode-bg-color: #D4D4D4;

$body-margin: 1.5rem;

@mixin body-layout {
    margin: $body-margin;
}

//@mixin darkmode {
//    background-color: $darkmode-bg-color;
//    color: $darkmode-text-color;
//}

//@mixin lightmode {
//    background-color: $lightmode-bg-color;
//    color: $lightmode-text-color;
//}

//@mixin theme {
//    @include darkmode;
//    @media (prefers-color-scheme: light) {
//        @include lightmode;
//    }
//}
//
body {
    @include body-layout;
    //@include theme;
}

@include media-breakpoint-up(md) {
    .menu {
        position: sticky;
        top: $body-margin;
    }
}

//.introduction {
//    @extend .card;
//    @extend .p-4;
//}